@import "tailwindcss";

/* Custom Scrollbar */
.custom-scrollbar {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
}

.custom-scrollbar::-webkit-scrollbar {
    display: none;
}