---
import Terminal from "../components/Terminal.astro";
import Clock from "../components/Clock.astro";
import Prompt from "../components/Prompt.astro";
import LinkContainer from "../components/LinkContainer.astro";
import { config } from "../config";
import "../styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={import.meta.env.BASE_URL + "favicon.svg"}
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Inicio</title>
	</head>
	<body
		style={`background-color: ${config.theme.colors.background}; ${config.theme.colors.image ? `background-image: url('${import.meta.env.BASE_URL}/${config.theme.colors.image}'); background-size: cover; background-position: center; background-attachment: fixed;` : ""}`}
		class="text-white flex items-center justify-center min-h-screen font-mono"
	>
		<Terminal>
			<Clock />
			<Prompt />
			<LinkContainer />
		</Terminal>
	</body>
</html>
